@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

HTML, BODY {
  min-width: 1000px;
  padding: 0;
  background-color: rgb(255, 255, 255)
}

.MainPageBody {
  height: 965px;
  background-image: url('https://images.pling.com/img/00/00/33/91/33/1148771/21ea1ba928ba8591b1360448d771ae55b627.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.RefreshOnLoad {
  animation: fadeIn 0.5s;
}

.LoginAndRegisterTitle {
  color: white;
  margin-left: 20px
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.inner-1 {
  border-right: 1px solid black;
}

.left,
.right {
  height: 800px;
  overflow-y: scroll;
  margin-left: 20px;
}

.left {
  border-right: 1px solid black;
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}