@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

HTML, BODY {
  margin-top: 50px;
  min-width: 1000px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255)
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}